.attribution {
  font-size: 11px;
  text-align: center;

  margin-top: var(--16ws);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  /* # SPACE SYSTEM */
  /* ## TYPOGRAPHY - FONT SIZES */
  --10px: calc(10rem / 16);
  --12px: calc(12rem / 16);
  --14px: calc(14rem / 16);
  --16px: calc(16rem / 16);
  --18px: calc(18rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
  --44px: calc(44rem / 16);
  --52px: calc(52rem / 16);
  --62px: calc(62rem / 16);
  --74px: calc(74rem / 16);
  --86px: calc(86rem / 16);
  --98px: calc(98rem / 16);

  /* ## WHITESPACE */
  --2ws: calc(2rem / 16);
  --4ws: calc(4rem / 16);
  --8ws: calc(8rem / 16);
  --12ws: calc(12rem / 16);
  --16ws: calc(16rem / 16);
  --24ws: calc(24rem / 16);
  --32ws: calc(32rem / 16);
  --48ws: calc(48rem / 16);
  --64ws: calc(64rem / 16);
  --80ws: calc(80rem / 16);
  --96ws: calc(96rem / 16);
  --128ws: calc(128rem / 16);

  /* ## CUSTOM COLORS */
  /* ### Primary */
  --color-psr: hsl(10, 79%, 65%);
  --color-pc: hsl(186, 34%, 60%);
  /* ### Neutral */
  --color-ndb: hsl(25, 47%, 15%);
  --color-nmb: hsl(28, 10%, 53%);
  --color-nc: hsl(27, 66%, 92%);
  --color-nvpo: hsl(33, 100%, 98%);
}

/* GENERAL */

body {
  font-size: var(--18px);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  background-color: #000;
}

.container {
  background-color: var(--color-nc);
  min-width: calc(375rem / 16);
  max-width: calc(375rem / 16);
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-ndb {
  color: hsl(25, 47%, 15%);
}

/* GENERAL */

.header {
  background-color: var(--color-psr);
  color: var(--color-nvpo);
  width: 90%;
  border-radius: var(--12px);

  display: flex;
  justify-content: space-between;
  padding: var(--24ws);

  margin-bottom: var(--16ws);
}

.logo {
  width: calc(60rem / 16);
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: var(--8ws);
}

.info:first-child {
  font-size: var(--14px);
  opacity: 0.9;
}

.info:last-child {
  font-weight: 700;
  font-size: var(--24px);
}

.header-heading {
  display: flex;
  align-items: center;
  padding: var(--24ws) var(--12ws) !important;

  border-radius: var(--12px) var(--12px) 0 0;
}

.heading {
  font-size: var(--24px);
  background-color: var(--color-nvpo);
}

.chart,
.footer,
.header-heading {
  background-color: var(--color-nvpo);
  width: 90%;
  padding: 0 var(--12ws);
}

.chart {
  padding: var(--12ws);
  position: relative;
}

.chart::after {
  content: "";
  background-color: var(--color-nc);
  height: 2px;
  width: 92%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--24ws) 0;
  border-radius: 0 0 var(--12px) var(--12px);
}

.item:first-child {
  grid-column: 1/-1;
  padding: 0 var(--12ws);
  color: var(--color-nmb);
  font-size: var(--12px);
}

.item:nth-child(2) {
  grid-row: span 2;
  align-self: center;
  font-weight: 700;
  font-size: var(--24px);
  padding: 0 var(--12ws);
}

.item:nth-child(3) {
  font-size: var(--14px);
  font-weight: 700;
  justify-self: end;
  padding: 0 var(--12ws);
}

.item:last-child {
  padding: 0 var(--12ws);
  font-size: var(--12px);
  color: var(--color-nmb);
  justify-self: end;
}

@media (min-width: calc(377em / 16)) {
  body {
    background-color: var(--color-nc);
  }
}
